[Unit]
Description=Docker Application mariadb server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/bin/docker kill ${NAME}
ExecStartPre=-/bin/docker rm -f db
ExecStartPre=-/bin/docker pull mariadb:${VERSION}
EnvironmentFile=/etc/docker/mariadb.env
ExecStart=/bin/docker \
            run \
            -e "MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}" \
            -e "MYSQL_DATABASE=${MYSQL_DATABASE}" \
            -e "MYSQL_USER=${MYSQL_USER}" \
            -e "MYSQL_PASSWORD=${MYSQL_PASSWORD}" \
            --volume /data/dbData:/var/lib/mysql \
            --name db \
            mariadb:${VERSION}

ExecStop=-/bin/docker stop ${NAME}
ExecStopPost=-/bin/docker rm -f ${NAME}
Restart=on-failure
RestartSec=1s
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
